.navBar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.navIcons{
    display: flex;
    gap: 10px;
}
.navIcons img{
    width: 25px;
    color: var(--main-color);
}
.navSpan{
    font-size: 1.5rem;
    font-weight: 600;
}
@media (min-width:1023px) {
    .navBar{
        margin: 20px;
    }
    
}